body {
  background-image: url('fundo2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family:'Times New Roman', Times, serif

}

h1 {
  color: #000000;
  text-align: center;

}

form {
  background-color: #c4a56e;
  position:relative;
    top: 2rem;
    left: 3rem;
    width: 50%;
    border-radius: 5px;
    padding: 50px;
    margin: 0 auto;
}

label {
  color: #000;
}

input[type="text"],
input[type="number"],
input[type="submit"] {
  width: 100%;
  padding: 7px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #000;
  color: #ecab39;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #252521;
  color: #c4a56e;
}

footer {
  text-align: left;
  margin-top: -3rem;
}

footer img {
  width: 105px;
}

